node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# cache
# search_cache has been skipped from worktree >> git will stop checking modified contents of it + search_cache will remain at initial status
# git update-index --skip-worktree backend_properties/cache/search_cache.json
# Restore : git update-index --no-skip-worktree backend_properties/cache/search_cache.json


# logs
logs
